/* Style convention:https://getbem.com/ */

* {
    box-sizing:border-box;
}

html,
body {
    font-family:Verdana, Geneva, sans-serif;
    height:100%;
    -webkit-user-select:none;
        -ms-user-select:none;
            user-select:none;
}

body {
    margin:0;
    overflow:hidden;
    width:100%;
}

/* canvas {
    left:0;
    height:100%;
    position:absolute;
    top:0;
    width:100%;
} */
canvas {
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* zoom: 1.75; */
}