/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main CSS */
body {
    font-family: "Montserrat", "Open Sans", sans-serif;
    background-color: #f4f4f4;
    color: #606762;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url("../images/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header */
header {
    padding: 1em 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    background: rgba(242, 242, 242, 0.2); /* 20% opacity */
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 10px 0 20px;
}

.logo img{
    width: 50px;
}

h1{
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 24px;
}

.upload_btn {
    margin-right: 10px;
}

.upload {
    width: 121px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: rgba(242, 242, 242, 0.2);
    color: #fff;
}

.hashtag {
    font-size: 10px;
    font-weight: 400;
    margin: 0 20px;
}

.api_input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background: transparent;
}

.container {
    position: relative;
    /* height: 100vh; */
}

/* Section containing the comtent */
.content {
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    width: 100%;
    position: relative;
}

/* Bot content */
.chatUI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    align-self: flex-end;
    height: 400px;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chatUI::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chatUI {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.chat {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
    max-height: 800px;
}

.message {
    width: 330px;
    margin: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
}

.message:nth-child(odd) {
    align-self: flex-start;
    border-radius: 0px 20px 20px 20px;


}

.message:nth-child(even) {
    align-self: flex-end;
    border-radius: 20px 0px 20px 20px;

}

.messageText {
    margin: 0;
    padding: 0;
}

.messageTime {
    font-size: 0.8em;
    text-align: right;
}

/* Search bar */
.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
    position: absolute;
    top: 75%;
    left: 50%;
    backdrop-filter: blur(10px);
}

.search-bar {
    display: flex;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 4px 4px rgba(0, 0, 0, .13);
    padding: 10px 20px;
}

.search-bar input {
    flex: 1;
    border: 0;
    background: transparent;
    outline: none;
    padding: 15px 20px;
    font-size: 40px;
    color: #fff;
}

/* ::placeholder {
    color: #333;
} */

.search-bar button {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.fa-search {
    font-size: 20px;
} 

.loading-state {
    display: none; /* Hide the loading state by default */
    position: absolute; /* Position it relative to its closest positioned ancestor */
    top: 50%;
    left: 50%;
    width: 25%;
    height: 25%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #ddd;
    border-top-color: orange;
    animation: loading 1s linear infinite;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

@keyframes loading {
    to {
      transform: rotate(360deg);
    }
}

div#whiteboard {
    width: 770px;
    height: 550px;
    display: block;
    border: 10px solid black;
    transform: rotate(90deg);
    position: fixed;
    top: 20%;
    left: 0;
    transition: transform 2s ease-in;
}

div#whiteboard > img {
    max-width: 100%;
    max-height: 100%;
}

div#whiteboard > .mark {
    display: block;
    transition: opacity 1s;
    opacity: 0;
    background: yellow;
}


div#whiteboard > .mark.show {
    opacity: 1;
}