/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    background-image: url("../images/bg2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #606762;
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -webkit-user-select:none;
        -ms-user-select:none;
            user-select:none;
}

html {
    height: 100%;
}

header {
    align-items: center;
    background: rgba(242, 242, 242, 0.2); /* 20% opacity */
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding: 1em 0;
    text-align: center;
}

canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.head {
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0 10px 0 20px;
    text-transform: uppercase;
}

.logo img {
    width: 50px;
}

h1 {
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 24px;
}

.upload_button {
    margin-right: 10px;
}

.upload {
    background: rgba(242, 242, 242, 0.2);
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    height: 36px;
    width: 121px;
}

.hashtag {
    font-size: 10px;
    font-weight: 400;
    margin: 0 20px;
}

.container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 90px;
}

.chat-ui {
    bottom: 150px;
    max-width: 450px;
    min-width: 350px;
    overflow-y: auto;
    position: absolute;
    right: 100px;
    top: 10px;
    width: 30%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat-ui::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-ui {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.chat {
    display: flex;
    flex-direction: column;
}

.message {
    background: rgba(255, 255, 255, 0.4);
    margin: 10px;
    padding: 10px;
    width: 330px;
}

.message.incoming {
    align-self: flex-start;
    border-radius: 0px 20px 20px 20px;
}

.message.outgoing {
    align-self: flex-end;
    border-radius: 20px 0px 20px 20px;
}

.message-text {
    margin: 0;
    padding: 0;
}

.message-time {
    font-size: 0.8em;
    text-align: right;
}

.search-section {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    bottom: 20px;
    margin: 20px 0px 20px 0px;
    position: absolute;
    right: 20px;
}

.search-bar {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, .13);
    display: flex;
    height: 100px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    border: 0;
    color: #fff;
    flex: 1;
    font-size: 40px;
    outline: none;
    padding: 15px 20px;
}

.search-bar button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
}

.fa-search {
    font-size: 20px;
} 

.loading-state {
    display: none; /* Hide the loading state by default */
    margin: 20px auto;
    width: 50%;
}

.loading {
    animation: loading 1s linear infinite;
    border: 10px solid #ddd;
    border-radius: 50%;
    border-top-color: orange;
    height: 100px;
    width: 100px;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}