/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    background-image: url("../images/bg2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #606762;
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -webkit-user-select:none;
        -ms-user-select:none;
            user-select:none;
}

html {
    height: 100%;
}

header {
    align-items: center;
    background: rgba(242, 242, 242, 0.2); /* 20% opacity */
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding: 1em 0;
    text-align: center;
}

.head {
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0 10px 0 20px;
    text-transform: uppercase;
    width: 50px;
}

.logo img {
    width: 100%;
}

h1 {
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 24px;
}

.prototype {
    margin-right: 10px;
}

@media screen and (max-width: 912px) {
    h1 {
        padding-left: 24px;
    }

}

@media screen and (max-width: 450px) {
    header {
        height: 60px;
        flex-wrap: wrap;
    }

    .logo {
        margin: 0 0 0 10px;
    }

    h1 {
        font-size: 15px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 300px) {
    .logo {
        width: 35px;
    }

    h1 {
        font-size: 11px;
    }

}

.container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 90px;
}

canvas {
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: -1;
} 

.chat-ui {
    bottom: 150px;
    max-width: 450px;
    min-width: 350px;
    overflow-y: auto;
    position: absolute;
    right: 100px;
    top: 10px;
    width: 30%;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat-ui::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    .chat-ui {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .chat-ui {
        width: 80%;
    }
}

@media screen and (max-width: 300px) {
    .chat-ui {
        bottom: 0;
    }

    .chat {
        width: 260px;
    }
}

.chat {
    display: flex;
    flex-direction: column;
}

.message {
    background: rgba(255, 255, 255, 0.8);
    margin: 10px;
    padding: 10px;
    width: 330px;
    max-width: 100%; /* Adjust if your design uses a specific max width */
    overflow-wrap: break-word;
}

/* Style the <pre> tag to prevent overflow */
.message pre {
    white-space: pre-wrap; /* Allows the text to wrap */
    word-wrap: break-word; /* Break words to prevent overflow */
    overflow-wrap: break-word; /* Ensures overflow text wraps to next line */
    max-width: 100%; /* Prevents <pre> from extending beyond its container */
}

.message.incoming {
    align-self: flex-start;
    border-radius: 0px 20px 20px 20px;
}

.message.outgoing {
    align-self: flex-end;
    border-radius: 20px 0px 20px 20px;
}

.message-text {
    margin: 0;
    padding: 0;
}

.message-time {
    font-size: 0.8em;
    text-align: right;
}

@media screen and (max-width: 300px) {
    .message, pre {
        font-size: 12px;
    }

    .message-text {
        margin: 0;
        padding: 0;
    }
    
    .message-time {
        font-size: 0.8em;
        text-align: right;
    }

    .message.outgoing {
        margin-right: auto;
    }
}

.search-section {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    bottom: 20px;
    margin: 20px 0px 20px 0px;
    position: absolute;
    right: 20px;
}

.search-bar {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, .13);
    display: flex;
    height: 100px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    border: 0;
    color: #fff;
    flex: 1;
    font-size: 40px;
    outline: none;
    padding: 15px 20px;
}

.search-bar input::placeholder {
    color: #fff;
}

.search-bar button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
}

@media screen and (max-width: 1024px) {
    .search-bar {
        height: 80px;
    }

    .search-bar input {
        font-size: 30px;
    }

    .search-bar button {
        padding: 2px 3px;
    }

    .search-bar button img {
        width: 65%;
    }
}

@media screen and (max-width: 450px) {
    .search-section {
        width: 340px;
    }

    .search-bar {
        height: 70px;
        padding: 0;
    }

    .search-bar input {
        font-size: 24px;
        width: 100%;
    }

    .search-bar button {
        padding: 0;
        margin-right: 10px;
        margin-top: 10px;
        height: 48px;
    }
}

@media screen and (max-width: 376px) {
    .search-section {
        width: 340px;
    }

    .search-bar {
        height: 70px;
        padding: 0;
    }

    .search-bar input {
        font-size: 24px;
        width: 100%;
    }

    .search-bar button {
        padding: 0;
        margin-right: 10px;
        margin-top: 10px;
        height: 48px;
    }
}

@media screen and (max-width: 350px) {
    .search-section {
        width: 300px;
    }

    .search-bar {
        height: 60px;
        padding: 0;
    }

    .search-bar input {
        font-size: 20px;
        width: 100%;
    }

    .search-bar button {
        padding: 0;
        margin-right: 10px;
        margin-top: 10px;
        height: 40px;
    }
}

@media screen and (max-width: 300px) {
    .search-section {
        width: 245px;
    }

    .search-bar {
        height: 60px;
        padding: 0;
    }

    .search-bar input {
        font-size: 14px;
        width: 100%;
    }

    .search-bar button {
        width: 45px;
    }

    .search-bar button img{
        width: 60%;
        padding-top: 5px;
    }

}

.loading-state {
    display: none; /* Hide the loading state by default */
    margin: 20px auto;
    width: 50%;
}

.loading {
    animation: loading 1s linear infinite;
    border: 10px solid #ddd;
    border-radius: 50%;
    border-top-color: orange;
    height: 100px;
    width: 100px;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}